/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable", "fantasy";
  --acent-font: "PressStart2P";
  --weight-main-text-card: 410;
  --weight-heading-text-card: 715; 
  --bg-firsr-gradient: repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px);
  --bg-second-gradient: repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px);
  --bg-third-gradient: linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --themes-background: #FFFFFF;
  --width-box: clamp(375px, 80%, 700px);
  --padding-p: 25px 25px 25px 25px;
  --stroke-color: rgb(255, 255, 255, 0.5);
}